.galleryWrapper__screen{
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 100;
    display: block;
    text-align: center;
}

.galleryWrapper__image {
    max-height: 80%;
    max-width: 80%;
    z-index: 101;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.galleryWrapper__close {
    z-index: 101;
    position: absolute;
    top: 25px;
    right: 50px;
}

.galleryWrapper__next {
    z-index: 101;
    position: absolute;
    top: 50%;
    right: 0;
}
    
.galleryWrapper__back {
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 0;
}
