.main-block {
    width: 560px;
    height: 560px;
    border: 8px solid rgb(183, 248, 5);
    position: relative;
    margin-top: 0px;
    position: absolute;
    margin-left: 30px;
    margin-top: -30px;
}

.block {
    width: 70px;
    height: 70px;
    float: left;
}

.blue {
    background: rgb(93, 33, 128);
    color: #ff0000;
    text-align: center;
    line-height: 40px;
}

.white-pink {
    background: rgb(253, 208, 208);
    color: #ff0000;
    text-align: center;
    line-height: 40px;
} 

#chessboard td{
    width: 50px;
    height: 50px;
}

.numLetters {
    width: 640px;
    height: 640px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    position: relative;
}

.numbers {
    list-style-type: none;
    position: absolute;
    font-size: 30px;

    /* положение цифр */
    margin-top: 20px; 
    margin-left: -32px;
}


ul.numbers li {
	padding-top: 35px;
    font-weight: 600;
    color: rgb(255, 0, 0);
}

.letters {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 0, 0);
    letter-spacing: 50px;

    /* положение букв */
    margin-top: 0px; 
    margin-left: 60px;
}